dotnetproject/Connected Services/bal2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="balancheck">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accno" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="balancheckResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="balancheckResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="amountreduce">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accno" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uid" type="xs:int" />
        <xs:element minOccurs="0" name="amount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="amountreduceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="amountreduceResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>